@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .scrollbar {
    padding-right: 10px;

    &::-webkit-scrollbar {
      @apply w-[3px];
    }
    &::-webkit-scrollbar-track {
      @apply bg-black;
    }
    &::-webkit-scrollbar-thumb {
      @apply bg-violet-500;
    }
  }

  .custom-dashed-border {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='23' ry='23' stroke='%23333' stroke-width='4' stroke-dasharray='20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 23px;
  }
}
